/*---------------adaptive mobile---------------*/
/*laptop*/
@media only screen and (max-width:1320px){
}
/*laptop s*/
@media only screen and (max-width:1024px){
	.cards__main button {
		font-size: 3.5em;
		padding: .5%;
	}
	.play_btn_card {
		font-size: 3.5em;
	}
	.More_btn_card {
		font-size: 2.6em;
	}
	.open_full_btn_card {
		font-size: 2.6em;
	}
	.wrapper_all_songs_home {
		grid-template-columns: 32.5% 32.5% 32.5%;
	}
}
/*for tablet*/
@media only screen and (max-width:768px){
	header {
		flex-direction: row;
		justify-content: center;
		width: 100%;
		height: 50px;
	}
	header.width_for_search {
		width: 100%;
		height: 100%;
	}
	.header__wrapper_content {
		width: 80%;
		justify-content: space-between;
		align-self: center;
		flex-direction: row;
	}
	.logo-flex{
		flex-direction: row;
	}
	.logo {
		width: 130px;
	}
	.search__open-pc {
		display: inline-flex
	}
	.mobile_none {
		display: none;
	}
	.mobile_menu_btm {
		display: block;
	}
	.menu {
		font-size: 1em;
		flex-direction: column;
		justify-content: center;
	}
	.menu ul{
		flex-direction: row;
		justify-content: space-around;
	}
	.menu a {
		margin: 0px;
	}
	.Banner__with-something-new{
		padding-top: 50px;
		padding-bottom: 0px;
	}
	.container_banner{
		width: 85%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.Banner__text-wrap {
		align-self: center;
		align-items: center;
		padding-bottom: 5vh;
	}
	.song_list_bannner img {
		width: 150px;
		height: 150px;
	}
	/*links icons playlist*/
	.Playlist_lnks__Banner{
		position: unset;
		width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-self: center;
	}
	.wrapper_all_songs_home {
		grid-template-columns: 49% 49%;
	}
}
@media only screen and (max-width:590px){
	.title__main-in-Banner {
		font-size: 4.3em;
	}
}
/*for phone x*/
@media only screen and (max-width:515px){
	.title__main-in-Banner {
		font-size: 3.9em;
	}
	.Button__learn-more {
		width: 100px;
		font-size: 1em;
		margin-top: 5px;
	}

	.wrapper_all_songs_home {
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width:465px){
	.title__main-in-Banner {
		font-size: 3.2em;
	}
	.Button__learn-more {
		width: 100px;
		font-size: 1em;
		margin-top: 5px;
	}
}
/*for phone l*/
@media only screen and (max-width:435px){
}
/*for phone m*/
@media only screen and (max-width:375px){
	.Banner__text-wrap {
		width: 80%;
	}
}
/*for phone s*/
@media only screen and (max-width:320px){
}

/*---------------adaptive pc 4k---------------*/

@media only screen and (min-width: 1900px){
	body {
		font-size: 12px;
	}	/*-----mobile banner-----*/
	.title__main-in-Banner {
		font-size: 3em;
	}
	.
	.Button__learn-more {
		width: 200px;
	}
}