/*---------------adaptive mobile---------------*/
/*laptop*/
@media only screen and (max-width:1350px) {
	.wrapper_all_songs_home {
		grid-template-columns: 32.5% 32.5% 32.5%;
	}
	/*			Player music pages			*/
}
@media only screen and (max-width:1250px) {
	/*			Player music pages			*/
	.wrapper_for_Information_pre_video {
		width: 100%;
	}
	.video_main {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: auto;
		min-height: 300px;
		max-height: 650px;
	}
	.aside_rec_wrapp {
		position: unset;
		width: 100%;
		height: auto;
		min-height: 300px;
		max-height: 450px;
	}
	.comments_title {
		width: 100%;
	}
}
@media only screen and (max-width:1100px){
	/*cards with grid all songs*/
	.wrapper_all_songs_home {
		grid-template-columns: 49% 49%;
	}
	/*			Player music pages			*/
}
/*laptop s*/
@media only screen and (max-width:1024px){
	.cards__main button {
		font-size: 3.5em;
		padding: .5%;
	}
	.play_btn_card {
		font-size: 3.5em;
	}
	.More_btn_card {
		font-size: 2.6em;
	}
	.open_full_btn_card {
		font-size: 2.6em;
	}
	/*			Player music pages			*/
}
/*for tablet*/
@media only screen and (max-width:768px), 
		only screen and (max-height: 740px){
	main {
		padding-top: 0px;
	}
	aside {
		margin-top: 60px;
	}
	header {
		flex-direction: row;
		justify-content: center;
		width: 99%;
		height: 50px;
	}
	.header__wrapper_content {
		width: 80%;
		justify-content: space-between;
		align-self: center;
		flex-direction: row;
	}
	.logo-flex{
		flex-direction: row;
	}
	.logo {
		width: 130px;
	}
	.search__open-pc {
		display: inline-flex
	}
	.mobile_none {
		display: none;
	}
	.mobile_menu_btm {
		display: block;
	}
	.menu {
		font-size: 1em;
		flex-direction: column;
		justify-content: center;
	}
	.menu ul{
		flex-direction: row;
		justify-content: space-around;
	}
	.menu a {
		margin: 0px;
	}
	.wrapp_fixed_controlsRBTMN {
		top: 10em;
		right: 2em;
	}
	.Play_pause_fixed_btns {
		bottom: 2em;
		right: .2em;
	}
	.Banner__with-something-new{
		margin: 0px;
		padding-bottom: 0px;
	}
	.container_banner{
		width: 85%;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
	}
	.Banner__text-wrap {
		align-self: center;
		align-items: center;
		padding-bottom: 10px;
	}
	.Button__listen_all_banner {
		width: 110px;
		font-size: 1em;
	}
	/*			Player music pages			*/
	.Wrapper_page {
		padding-left: 5px;
		padding-top: 60px;
	}
}
@media only screen and (max-width:590px){
	.wrapper_all_songs_home {
		grid-template-columns: 95%;
	}
	/*			Player music pages			*/
}
/*for phone x*/
@media only screen and (max-width:515px){
	.title__main-in-Banner {
		font-size: 2em;
	}
	.songs_banner {
		width: 100px;
		height: 100px;
		font-size: .9em;
	}
	.songs_banner:hover {  
		width: 205px;
		height: 205px;
	}
	.songs_banner .timeline_card::-webkit-slider-thumb {
		visibility: hidden;
	}
	.songs_banner .Wrapp_progress_timeline {
		width: 63%;
	}
	.songs_banner .times {
		width: 20%;
	} 
	.Button__learn-more {
		width: 100px;
		font-size: 1em;
		margin-top: 5px;
	}
	/*			Player music pages			*/


}

@media only screen and (max-width:465px){
	.Button__learn-more {
		width: 100px;
		font-size: 1em;
		margin-top: 5px;
	}
	/*			Player music pages			*/
}
/*for phone l*/
@media only screen and (max-width:435px){
}
/*for phone m*/
@media only screen and (max-width:375px){
	.Banner__text-wrap {
		width: 95%;
	}
	/*			Player music pages			*/
}
/*for phone s*/
@media only screen and (max-width:320px){
}

/*---------------adaptive pc 4k---------------*/

@media only screen and (min-width: 1900px){
	body {
		font-size: 12px;

	}
	.
	.Button__learn-more {
		width: 200px;
	}
	/*			Player music pages			*/
}