@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Kalam:wght@700&family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
	/*font-family: 'Josefin Slab', serif;
	font-family: 'Kalam', cursive;
	font-family: 'Laila', sans-serif;
	font-family: 'Pacifico', cursive;
	*/

*, *:before, *:after {
	box-sizing: border-box; 
}
body {
	background-image: linear-gradient(to right, #434343 0%, black 100%);



/*
	background: rgba(205, 128, 50, 1.0);
	background: -webkit-linear-gradient(bottom, rgba(205, 128, 50, 1.0), rgba(0, 0, 0, 1.0));
	background: -moz-linear-gradient(bottom, rgba(205, 128, 50, 1.0), rgba(0, 0, 0, 1.0));
	background: linear-gradient(to top, rgba(205, 128, 50, 1.0), rgba(0, 0, 0, 1.0));*/



	background-size: cover;
	background-attachment: fixed !important;
    color: #fff;
    margin: 0px;
    padding: 0px;
    height: auto;
    min-width: 320px;
    max-width: auto;
    font-size: 10px;
    font-family: sans-serif;
}

/*---------------srollbar-----------------*/

/* width */
::-webkit-scrollbar {
    width: 0.4em;
}
    /* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #3c3c3c;
} 

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul {
	padding: 0px;
}
/*title hover inside link or text*/
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 13px;
    position: absolute;
    padding: 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: none;
    border-radius: 5px;
    z-index: 100;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 50em;
	color: #fff;
	background: url(/img/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: 1;
	pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
	opacity: 1;
	pointer-events: all;
}
header {
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60px;
	height: 100%;
	max-height: 100vh;
	background-color: rgba(44, 44, 44, .75);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
	color: #fff;
	text-align: center;
	z-index: 5;
	left: 0px;
	padding: 15px 0px;
}
.header__wrapper_content {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.logo-flex {
	width: auto;
	height: auto;
	display: flex;
	justify-content: start;
	align-self: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	align-self: center;
	color: #fff;
	font-size: 2.2em;
	font-family: 'Kalam', cursive;
	letter-spacing: 0px;
}
.logo:hover {
	color: #cdcdcd;
}

.menu {
	display: flex;
	width: 6em;
	height: auto;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-size: 1em;
	font-weight: normal;
	font-family: sans-serif;
	letter-spacing: 2px;
	color: #fff;
}

.menu ul {
	display: inline-flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.menu hr {
	display: none;
}

.menu li {
}

.menu a {
	display: inline-block;
	color: #fff;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.menu a:hover {
	transition: .7s;
	color: #cdcdcd;
}
.menu i {
	font-size: 1.6em;
}
.title_under_ico__menu{
	display: block;
	text-align: center;
	margin-top: 5px;
}
/*_____ MOBILE menu _____*/
.mobile_menu_btm {
	display: none;
	position: fixed;
	z-index: 5;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(44, 44, 44, .75);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
	color: #fff;
	text-align: center;
	margin: 0px;
}

/*--------search form pc---------*/

header.width_for_search {
	transition: .5s;
	display: flex;
	width: 30%;
}
.search__pc-block {
	display: none;
	justify-content: center;
	flex-direction: flex-start;
	width: 100%;
	height: 100%;
}
.search__pc-block.active {
	display: flex;
}
.search__open-pc{
	align-self: center;
	color: #fff;
	font-size: 1.7em;
	padding: 0px;
	background: inherit;
	border: none;
	cursor: pointer;
}

.search-form__wrapper-pc {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 400px;
	height: auto;
}
.search-btn-pc{
	background-color: inherit;
	border: none;
	color: #fff;
	font-size: 1.5em;
	padding-right: 10px;
	align-self: center;
}
.search-form__wrapper-pc input {
	width: 70%;
	background-color: inherit;
	color: #fff;
	font-size: 1.4em;
	outline: none;
	border: none;
}
.search-form__wrapper-pc input[type="search"]::-webkit-search-cancel-button {
	display: block;
}
.search-form__wrapper-pc .btn__close {
	width: auto;
	height: 2%;
	position: absolute;
	right: 25px;
	top: 48%;
	color: #fff;
	background-color: inherit;
	font-size: 2em;
	cursor: pointer;
	border: none;
}

/*-------------------------------- Main --------------------------------*/
/*-----------------------Banner after header---------------------*/
main {
	display: flex;
	width: 100%;
	float: right;
	flex-direction: column;
	justify-content: center;
}


.Banner__with-something-new {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 550px;
	padding-bottom: 5vh;
	background: url(../img/banner__main_home.jpg) no-repeat center center; 
	background-size: cover;
	background-repeat: no-repeat;
}
.container_banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: auto;
}
/*social links*/
.Playlist_lnks__Banner{
	width: auto;
	height: auto;
	padding: 5px;
	display: flex;
	position: absolute;
	right: 20px;
	background-color: #fff;
	border-radius: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.Playlist_lnks__Banner .link_icon{
	display: inline-block;
	text-align: center;
	margin-top: .5em;
	width: 1.3em;
	height: 1.3em;
	font-size: 2.5em;
	transition: .4s;
	color: #999;
	opacity: 1;
}
.link_icon:hover {
	color: #000;
}

.Banner__text-wrap {
	width: auto;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-end;
	align-items: flex-start;
	font-family: 'Laila', sans-serif;
	color: #fff;
	cursor: default;
}
.title__main-in-Banner {
	align-self: start;
	font-size: 4.5em;
	font-family: 'Pacifico', cursive;
	font-weight: 100;
}
.container_for_ai_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*!!!!! ---Songs list in banner img's--- !!!!!*/
.wrapper_songs_list_banner {
	width: auto;
	height: auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}
.song_list_bannner {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: 2;
	margin: 2px;
	background-color: #111;
	border-radius: 15px;
}
.song_list_bannner img {
	width: 180px;
	height: 180px;
	opacity: 1;
	z-index: 1;
	border-radius: 15px;
}
.song_list_bannner:hover img {
	opacity: .5;
	transition: .3s;
    scale: 1.1;
}
.sng_name__snglist___banner {
	display: inline-flex;
	visibility: hidden;
	position: absolute;
	z-index: 2;
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	font-weight: 100;
	align-self: flex-start;
	margin-top: 20px;
}
.song_list_bannner:hover .sng_name__snglist___banner {
	visibility: visible;
}
.play_btn_sng_list {
	display: inline-flex;
	visibility: hidden;
	position: absolute;
	z-index: 2;
	font-size: 3.5em;
	align-self: flex-end;
	margin-bottom: 20px;
}
.song_list_bannner:hover .play_btn_sng_list {
	visibility: visible;
	cursor: pointer;
}
.Button__learn-more {
	width: 140px;
	background-color: #fff;
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	align-self: center;
	padding: 5px;
	margin-top: 10px;
	border: 2px solid #fff;
	border-radius: 15px;
}
.Button__learn-more:hover {
	transition: .4s;
	background: inherit;
	color: #fff;
	border: 2px solid #fff;
}
/*cards prod blocks*/
.title_pre__cards {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	color: #fff;
	background-color: inherit;
	font-size: 2.5em;
	font-family: 'Kalam', cursive;
}
.cards__main {
	display: flex;
	justify-content: center;
	z-index: 2;
	position: relative;
	width: 100%;
	height: auto;
	background-color: inherit;
}
.cards__main button {
	visibility: hidden;
	background-color: inherit;
	border: none;
	color: #ddd;
	opacity: .5;
	font-size: 4em;
	padding: 1%;
	cursor: pointer;
	transition: .5s;
}
.cards__main button:hover {
	color: #fff;
	opacity: .8;
}
.cards__main:hover button{
	visibility: visible;
}


.wrapper__cards__slider {
	display: flex;
	width: 80%;
	z-index: 3;
	padding-bottom: 10px;
	overflow: hidden;
}
.glider {
	margin: 0px !important;	
}

.card {
	display: flex ;
	flex-direction: column ;
	justify-content: center ;
	text-align: center;
	width: auto;
	height: auto;
	background-color: #fff;
	border-radius: 15px;
	padding-bottom: 15px;
	margin: .2%;
	font-family: sans-serif;
	transition: .3s;
	z-index: 2;
	cursor: default;
}
.card:hover {
	background-color: #ccc;
}
.card:hover a {
	color: #06c ;
}
.new_status {
	display: block;
	position: absolute;
	z-index: 3;
	width: 45px;
	height: auto;
	left: 1em;
	top: 1em;
	padding: 3px 0px;
	font-size: 1.1em;
	color: #bf4800;
	font-weight: 600;
	background-color: #fff;
	border-radius: 10px;
	transition: .4s;
}
.wrapper_for_img:hover .new_status {
	display: none;
}
.Type {
	font-size: 1em;
	margin-top: 10px;
	color: #777;
}
.wrapper_for_img {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111;
	border-radius: 13px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.wrapper_for_img img {
	width: 100%;
	height: 100%;
	padding: 0px;
	z-index: 2;
	align-self: center;
	border-radius: 13px;
}
.wrapper_for_img:hover img {
	filter: blur(3px);
	opacity: .7;
	transition: .2s;
}
.timer_song_card {
	display: block;
	position: absolute;
	z-index: 3;
	right: 1em;
	bottom: 1em;
	padding: 3px 0px;
	width: 45px;
	height: auto;
	background-color: #333;
	border-radius: 10px;
	font-size: 1.3em;
}
.current_timer_song_card {
	display: none;
	position: absolute;
	z-index: 3;
	left: 1em;
	bottom: 1em;
	padding: 3px 0px;
	width: 45px;
	height: auto;
	background-color: #333;
	border-radius: 10px;
	font-size: 1.3em;
}
.wrapper_for_img:hover .current_timer_song_card {
	display: block;
}

/*btn hover play and more*/
.play_btn_card {
	display: none;
	position: absolute;
	z-index: 3;
	font-size: 4.5em;
	transition: 0.4s;
	align-self: center;
}
.play_btn_card:hover {
	scale: 1.2;
}
.wrapper_for_img:hover .play_btn_card {
	display: block;
}

.More_btn_card {
	display: none;
	font-size: 3em;
	position: absolute;
	z-index: 3;
	align-self: flex-start;
	right: 1em;
	top: 0.5em;
}
.wrapper_for_img:hover .More_btn_card {
	display: block;
}
.open_full_btn_card {
	display: none;
	font-size: 3em;
	position: absolute;
	z-index: 3;
	align-self: flex-start;
	left: 1em;
	top: 0.5em;
}
.wrapper_for_img:hover .open_full_btn_card {
	display: block;
}

.card_name_product {
	margin-top: 3%;
}
.card_name_product a {
	font-size: 1.2em;
	font-weight: bold;
	color: #444;
}

/*__________All songs list home page__________*/
.wrapper_all_songs_home {
	display: grid;
	align-self: center;
	justify-content: space-around;	
	grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
	grid-template-rows: auto; 
	column-gap: auto;
	row-gap: 0px;
	width: 80%;
	height: auto;
}
.type_card_VA {
	font-weight: 700;
	font-size: 1em;
	margin-top: 10px;
	color: #bf4800;
}
.wrapper_all_songs_home .card {
	margin-top: 20px;
}
/*test*/

.test {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 400px;
	background-color: inherit;

}
.test .card{
	width: 330px;
	height: 380px;
}
.test .link_style i {
	color: #fff;
}
.play_btn_card {
	display: none;
	position: absolute;
	align-self: center;
	z-index: 3;
	font-size: 4.5em;
	transition: 0.4s;
	background: initial;
	opacity: 1;
	color: #fff;
	outline: none;
	border: none;
}

.timeline_card {
	display: none;
	position: absolute;
	bottom: 1.5em;
	z-index: 3;
	background-color: #333;
	-webkit-appearance: none;
	width: 65%;
	height: .8em;
	border-radius: 0px;
	opacity: 1;
	margin: 0px;
	padding: 0px;
}
.timeline_card::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 3px;
	height: .8em;
	border-radius: 0%;
	cursor: pointer;
	opacity: 1;
	transition: all .1s;
	background-color: #fff;
}
.timeline_card::-webkit-slider-thumb:hover {
  background-color: #cdcdcd;
}
.timeline_card::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.wrapper_for_img:hover .timeline_card {
	display: block;
}
